<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yew.lynx.example">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LynxElementBridgeApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="Lynx Element Bridge Counter"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".WasmActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".WasmUrlActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
    </application>
</manifest>
